.notebookEditorWrapper {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;  
    max-height: 100% !important;
    resize: none !important;
}

.notebookEditorWrapperSplit {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;  
    max-height: 50% !important;
    resize: none !important;
}

.rdw-editor-toolbar {
    -webkit-box-shadow: -2px 1px 1px -1px rgba(19, 19, 19, 0.45) !important;
    -moz-box-shadow: -2px 1px 1px -1px rgba(19, 19, 19, 0.45) !important;
    box-shadow: -2px 1px 1px -1px rgba(19, 19, 19, 0.45) !important;
    margin-top: -10px !important;
    margin-left: -5px !important;
    background-color: rgba(112, 88, 88, 0.03) !important;
    font-size: .98em !important;
}

.rdw-editor-main {
    margin-left: 2px;
    margin-top: -10px;
}

.rdw-dropdown-wrapper {
    height: 22px !important;
}

.rdw-dropdown-selectedtext {
    color: grey;
    font-size: .9em;
}

// draft-js
.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 13px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editorWrapper {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

.DraftEditor-editorContainer {
    margin: 15px !important;
    margin-top: 0px !important;
}

.public-DraftEditorPlaceholder-inner {
    // margin: 15px !important;
    margin-top: 15px !important;
    margin-left: 20px !important;
    // padding-top: 10px !important;
}

.rdw-colorpicker-modal {
    min-height: 250px !important;
    margin-left: -150px !important;
}

.rdw-link-modal {
    min-height: 250px !important;
    margin-left: -150px !important;
}

.rdw-image-modal {
    min-height: 250px !important;
    margin-left: -50px !important;
}

.rdw-embedded-modal {
    margin-left: -50px !important;
}

.rdw-emoji-modal {
    margin-left: -100px !important;
}

.md-editor-toolbar {
    margin-top: 75px !important;
    margin-left: 200px !important;
}

.md-editor-toolbar--isopen {
    margin-top: 35px !important;
    margin-left: 200px !important;
}

.md-RichEditor-root {
    resize:vertical !important;
    height: calc(100% - 20px) !important;
    width:100% !important;
    overflow: hidden !important; 
    margin: 0 !important;
    padding: 0 !important;
    // margin-top: -10px !important;
    margin-top: -10px !important;
    -webkit-box-shadow: -1px 0px 1px 1px rgba(40,24,13,0.2) !important;
    -moz-box-shadow: -1px 0px 1px 1px rgba(40,24,13,0.2) !important;
    box-shadow: -1px 0px 1px 1px rgba(40,24,13,0.2) !important;
    background: rgba(250, 250, 250, 1.0) !important;
}

.rdw-editor-main {
    resize:vertical !important;
    height: calc(100% - 20px) !important;
    width:100% !important;
    overflow: hidden !important; 
}

.md-side-toolbar {
    margin-left: 160px !important;
    margin-top: 10px !important;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
    height: 600px !important;
    max-height: 600px !important;
    max-width: 100% !important;
    overflow: auto !important;
}

.public-DraftEditor-content {
    padding-top: -30px !important;
    min-height: 140px;
    max-height: 600px !important;
    max-width: 100% !important;
    overflow: auto !important;
    height: 600px !important;
}

.danteEditorWrapper {
    margin-top: 12px !important;
    font-size: 1.2em;
}

.md-sb-img-button {
    font-weight: normal !important;
    font-size: 1.0em !important;
}

.rdw-dropdown-wrapper {
    background-color: rgba(241, 237, 237, 0.15) !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    -moz-box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    color: grey !important;
    height: 25px !important;
}

.rdw-option-wrapper {
    background-color: rgba(241, 237, 237, 0.15) !important;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    -moz-box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    border-radius: 3px !important;
    height: 25px !important;
}