.notebookEditorWrapper {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;  
    max-height: 100% !important;
    height: 100% !important;
    resize: none !important;
    color: rgb(36, 36, 36);
}

.notebookEditorWrapperSplit {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;  
    // max-height: 50% !important;
    max-height: 100% !important;
    height: 100% !important;
    resize: none !important;
    color: rgb(36, 36, 36);
}

.rdw-editor-toolbar {
    position: sticky !important;
    z-index: 500 !important;
    -webkit-box-shadow: -2px 1px 1px -1px rgba(19, 19, 19, 0.45) !important;
    -moz-box-shadow: -2px 1px 1px -1px rgba(19, 19, 19, 0.45) !important;
    box-shadow: -2px 1px 1px -1px rgba(19, 19, 19, 0.45) !important;
    margin: 20px !important;
    margin-top: 0px !important;
    margin-left: -10px !important;
    background-color: rgba(112, 88, 88, 0.03) !important;
    font-size: .98em !important;
    width: calc(100% + 10px) !important;
}

.rdw-dropdown-wrapper {
}

.rdw-dropdown-selectedtext {
    color: grey;
    font-size: .9em;
}

// draft-js
.editor {
    // cursor: text;
    // border-radius: 2px;
    // margin-bottom: 2em;
    // box-shadow: inset 0px 1px 8px -3px #ABABAB;
    // background: #fefefe;
}

.editorWrapper {
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 10px !important;
    width: 100% !important;
    // height: 100vh !important;
}

.DraftEditor-editorContainer {
    width: 100% !important;
    height: 100% !important;
    margin: 15px !important;
    margin-top: 0px !important;
    overflow: auto !important;
}

.public-DraftEditorPlaceholder-inner {
    margin-top: 0px !important;
    margin-left: 20px !important;
    position: sticky !important;
    min-height: 140px;
    // max-height: 600px !important;
    max-width: 100% !important;
    // height: 600px !important;
}

.rdw-colorpicker-modal {
    min-height: 250px !important;
    margin-left: -150px !important;
}

.rdw-link-modal {
    min-height: 250px !important;
    margin-left: -150px !important;
}

.rdw-image-modal {
    min-height: 250px !important;
    margin-left: -50px !important;
}

.rdw-embedded-modal {
    margin-left: -50px !important;
}

.rdw-emoji-modal {
    margin-left: -100px !important;
}

.md-editor-toolbar {
    margin-top: 75px !important;
    margin-left: 200px !important;
}

.md-editor-toolbar--isopen {
    margin-top: 35px !important;
    margin-left: 200px !important;
}

.md-RichEditor-root {
    // resize:vertical !important;
    // height: calc(100% - 20px) !important;
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background: rgba(250, 250, 250, 1.0) !important;
}

.rdw-editor-main {
    resize: none !important;
    width: calc(100%) !important;
    overflow: auto !important;
    // overflow: hidden !important;
    height: calc(100% - 600px) !important;
}

.md-side-toolbar {
    margin-left: 160px !important;
    margin-top: 10px !important;
}

.editor :global(.public-DraftEditor-content) {
    max-width: 95% !important;
}

.DraftEditor-root {
    margin-top: 0px !important;
    max-width: 95% !important;
}

.public-DraftEditor-content {
    // padding-top: -30px !important;
    max-width: 95% !important;
    height: 600px !important;
}

.danteEditorWrapper {
    height: 100% !important;
    width: 100% !important;
    font-size: 1.2em;
}

.editor-action {
    height: 100% !important;
    width: 100% !important;
}

.md-sb-img-button {
    font-weight: normal !important;
    font-size: 1.0em !important;
}

.rdw-dropdown-wrapper {
    background-color: rgba(241, 237, 237, 0.15) !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    -moz-box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    color: grey !important;
}

.rdw-option-wrapper {
    background-color: rgba(241, 237, 237, 0.15) !important;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    -moz-box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    box-shadow: 1px 1px 1px 0px rgba(104, 104, 104, 0.08);
    border-radius: 3px !important;
}

.md-RichEditor-editor {
    margin: 80px !important;
    margin-top: 0px !important;
    padding-right: 195px !important;
    padding-top: 5px !important;
    height: 100% !important;
    width: 100% !important;
    overflow: auto !important;
}