.quillContainer {
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
    background-color: transparent !important;
}

.ql-editor {
}

.ql-snow {
    stroke: white !important;
}

.ql-stroke {
    stroke: white !important;
    color: white !important;
}

.ql-picker-label {
    stroke: white !important;
    color: white !important;
}

.ql {
    color: white !important;
    stroke: white !important;
}

.ql-fill {
    color: white !important;
    stroke: white !important;
    fill: grey !important;
}