html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden !important;
}

.left {
  margin: 0 !important;
  padding: 0 !important;
  float: left !important;
  width: 50% !important;
}

.right {
  margin: 0 !important;
  padding: 0 !important;
  float: left !important;
  width: 50% !important;
}

.mainMenuContainer {
  color: white;
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #174169, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #174169, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: none !important; 
}