
.entriesSubMenuContainer {
  height: 50px;
}

.ant-menu-submenu-popup {
  min-width: 320px !important;
}

.ant-menu {
  border-radius: 10px !important;
  box-shadow: 0 2px 4px 0 rgba(32, 32, 32, 0.3) !important;
  // box-shadow: 1px 1px 1px 1px rgba(40, 42, 44, 0.15) !important;
}

.treeEntriesContain.entriesSubMenuContainer {
  height: 50px;
}

.ant-menu-submenu-popup {
  min-width: 320px !important;
}

.ant-menu {
  z-index: 1 !important;
  border-radius: 2px !important;
  /* box-shadow: 0 2px 4px 0 rgba(32, 32, 32, 0.3) !important; */
  // box-shadow: 1px 1px 1px 1px rgba(40, 42, 44, 0.15) !important;
  background-color: transparent !important;
}

.ant-btn-primary {
  z-index: 10;
  position: relative;
}

/* Footer / brand */
.footerContainer {
    opacity: .85;
    float: right !important;
    right: 0 !important;
    margin-top: -10px;
    margin-right: 10px;
    background-color: transparent !important;
    z-index: 100;
    position: absolute;
}

.footerContainer p {
  letter-spacing: 0px !important;
  font-size: .85em;
  text-shadow: none !important;
  font-weight: lighter;
  color:rgba(29, 29, 29, .95);
  // color: red !important;
}

/* React sortable tree */
.treeEntriesContainer {
  width: 100%;
  border-radius: 20px !important;
}


.mainEntriesButtonsWrapper {
  display: inline;
  margin-left: 8px;
}

.expandEntriesButtonsWrapper {
  margin-top: 6px !important;
  margin-left: 282px;
  z-index: 1000;
  float: right !important;
  position: absolute !important;
}

.treesEntriesContainer {
  z-index: 1;
  border-radius: 3px;
  // background-color: rgba(0, 104, 152, 0.65);
}

// JSONEditor browser in main menu
.jsonEditorMainMenu {
  margin-top: 5px !important;
}

// End tree

.smallButton {
  margin: 2px;
  height: 20px;
  width: 20px;
  font-size: .8em;
}

.textButton {
  padding-left: -15px;
  font-size: .7em;
  margin: 2px;
  height: 25px;
  width: 110px;
  font-size: .8em;
  color: white !important;
}

.ant-input-search-icon {
  display: none;
}

.ant-menu-vertical {
  background: rgba(79, 171, 224, 0.73) !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,  rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rst__tree {
  margin-top: 6px !important;
  padding: 5px !important;
  height: 250px !important;
  margin-left: -5px !important;
  border-radius: 3px !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background: rgb(238, 238, 238) !important;  /* fallback for old browsers */
}

.rst__rowLabel {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.rst__rowTitle {
  font-weight: normal !important;
  min-width: 240px;
}

.rst__moveHandle {
  margin-top: 4px;
  height: 8px !important;
  background-color: rgba(0,0,0,0.10);
}

.rst__rowContents {
  box-shadow: none !important;
  min-width: 240px !important;
  height: 35px !important;
  font-size: .85vmax !important;
  margin: 0 !important;
  padding: 5px !important;
  background-color: transparent !important;
  color: rgb(17, 17, 17) !important;
}

.rst__rowContents span {
  padding: 0 !important;
  margin: 0 !important;
  letter-spacing: 0px !important;
}

.rst__rowSubtitle {
  font-size: .75vmax !important;
}

.rst__rowContents:hover {
  cursor: pointer;
  color: rgba(79, 176, 255, .95) !important;
  // background: #36D1DC;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  

.ant-menu-item {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: transparent !important;
  color: rgb(255,223,0)  !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}

.ant-menu-item:hover {
  color: rgb(255,223,0)  !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}

.ant-menu-submenu-title:hover {
  color: rgb(255,223,0) !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}


.ant-menu-submenu {
  overflow: hidden !important;
}

.ant-btn-primary {
  background: #36D1DC !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10) !important;
}

.ant-btn {
  color: rgba(79, 176, 255, .55); 
  border-color: rgba(79, 176, 255, .55); 
}

.ant-btn:hover {
  cursor: pointer !important;
  color: rgb(255,223,0) !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}

.ant-btn-circle {
  margin: 2px !important;
  height: 20px !important;
  width: 20px !important;
  font-size: .8em !important;
}

.ant-btn-circle:hover {
  cursor: pointer !important;
  border-color: rgba(255, 223, 0, .8) !important;
  color: rgb(255,223,0) !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}

.primaryGhostButton {
}

.primaryGhostButton:hover {
  cursor: pointer !important;
}

.rowContentsToolbarIcon {
  color: rgb(58, 178, 248);
  border: none !important;
  float: left !important;
  height: 20px !important;
  font-size: 1.255em !important;
  font-weight: bold !important;
  width: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  left: 0 !important;
  margin-top: -5px !important;
  margin-left: -25px !important;
  position: absolute !important;
}

.rowContentsToolbarButtonPlus {
  color: rgba(32, 136, 255, 0.95) !important;
  border: none !important;
  float: left !important;
  bottom: 0 !important;
  left: 0 !important;
  height: 25px !important;
  padding-top: 1px !important;
  margin-left: -25px !important;
  font-size: 1.20em !important;
  width: 25px !important;
  position: absolute !important;
  text-shadow: 0 0 1px rgba(34, 25, 25, 0.8);
}

.rowContentsToolbarButtonMinus {
  color: rgba(255, 14, 66, 0.575) !important;
  border: none !important;
  float: left !important;
  bottom: 0 !important;
  left: 0 !important;
  height: 25px !important;
  padding: -7px !important;
  font-size: .80em !important;
  margin-left: -8px !important;
  margin-top: 25px !important;
  width: 15px !important;
  position: absolute !important;
  text-shadow: 0 0 1px rgba(34, 25, 25, 0.8);
}

.rst__rowSearchMatch {
  outline: none !important;
  background-color: rgba(79, 171, 224, 0.13) !important;
}

.rst__rowSearchFocus {
  outline: none !important;
  background-color: rgba(19, 169, 255, 0.387) !important;
}

// Custom buttons

.entriesButtonsContainer {
  margin-top: 10px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  // padding: 10p0x;
}

#findBox {
  background-color: rgba(87, 87, 87, 0.2) !important;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-bottom: 3px !important;
  color: rgba(223, 223, 223, 0.9) !important;
  border: none;
  height: 22px;
  font-size: .8em;
  margin-left: 11px;
  width: 175px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45) !important;
}

.searchArrowButtonsContainer {
  display: inline-block;
  margin-left: -10px;
}

.searchArrowButton {
  color: rgba(206, 206, 206, 0.8) !important;
  height: 50px;
  margin: 1px;
  width: 35px;
  font-size: .8em;
  margin-top: -10px;
  border-color: rgba(0,0,0,0.10) !important;
  /* padding: 10px; */
}

.entriesIndicesFoundContainer {
  display: inline;
  letter-spacing: 3px !important;
  font-size: 1.0em !important;
  color:  rgba(206, 206, 206, 0.8) !important;
}

.entriesEditorButtonsContainer {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0px;
  margin-top: 8px;
}

.saveLoadExportButtonsContainer {
  margin-top: -5px;
  float: right;
  margin-right: 30px;
}

.saveLoadButton {
  border: none !important;
  font-size: 1.6em !important;
  color: rgba(248, 248, 248, 0.787) !important;
}

.exportButton {
  border: none !important;
  font-size: 1.68em !important;
  color: rgba(248, 248, 248, 0.787) !important;
}