
.entriesSubMenuContainer {
  height: 50px;
}

.ant-menu-submenu-popup {
  min-width: 320px !important;
}

.ant-menu {
  border-radius: 10px !important;
  /* box-shadow: 0 2px 4px 0 rgba(32, 32, 32, 0.3) !important; */
  // box-shadow: 1px 1px 1px 1px rgba(40, 42, 44, 0.15) !important;
}

.treeEntriesContain.entriesSubMenuContainer {
  height: 50px;
}

.ant-menu-submenu-popup {
  min-width: 320px !important;
}

.ant-menu {
  z-index: 1 !important;
  border-radius: 2px !important;
  /* box-shadow: 0 2px 4px 0 rgba(32, 32, 32, 0.3) !important; */
  // box-shadow: 1px 1px 1px 1px rgba(40, 42, 44, 0.15) !important;
  background-color: transparent !important;
}

.ant-btn-primary {
  z-index: 10;
  position: relative;
}

/* Footer / brand */
.footerContainer {
    opacity: .85;
    float: right !important;
    right: 0 !important;
    margin-top: -10px;
    margin-right: 10px;
    background-color: transparent !important;
    z-index: 100;
    position: absolute;
}

.footerContainer p {
  letter-spacing: 0px !important;
  font-size: .85em;
  text-shadow: none !important;
  font-weight: lighter;
  color:rgba(29, 29, 29, .95);
  // color: red !important;
}

/* React sortable tree */
.treeEntriesContainer {
  width: 100%;
  border-radius: 20px !important;
}

.entriesButtonsContainer {
  margin-top: 10px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  // padding: 10p0x;
}

#findBox {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: grey;
  border: none;
  height: 24px;
  margin-left: 10px;
  width: 180px;
}

.searchArrowButtonsContainer {
  display: inline-block;
  margin-left: -5px;
}

.searchArrowButton {
  height: 25px;
  margin: 1px;
  width: 28px;
  font-size: .8em;
  margin-top: -10px;
  /* padding: 10px; */
}

.entriesIndicesFoundContainer {
  display: inline;
  font-size: .85em;
  color:  #e0ebeb;
}

.entriesEditorButtonsContainer {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0px;
  margin-top: 8px;
}

.mainEntriesButtonsWrapper {
  display: inline;
  margin-left: 8px;
}

.expandEntriesButtonsWrapper {
  margin-left: 290px;
  z-index: 1000;
  float: right;
  margin-bottom: 40px;
  position: absolute;
}

.treesEntriesContainer {
  z-index: 1;
  border-radius: 3px;
  // background-color: rgba(0, 104, 152, 0.65);
}

// JSONEditor browser in main menu
.jsonEditorMainMenu {
  margin-top: 5px !important;
}

// End tree

.smallButton {
  margin: 2px;
  height: 20px;
  width: 20px;
  font-size: .8em;
}

.textButton {
  padding-left: -15px;
  font-size: .7em;
  margin: 2px;
  height: 25px;
  width: 125px;
  font-size: .8em;
  color: white !important;
}

.ant-input-search-icon {
  display: none;
}

.ant-menu-vertical {
  background: rgba(79, 171, 224, 0.73) !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,  rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rst__tree {
  height: 250px !important;
  // max-height: 250px;
  // background-color: white !important;
  border-radius: 5px !important;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
	box-shadow: 1px 2px 2px 1px rgba(39, 39, 39, 0.85) !important;
  background: rgb(238, 238, 238) !important;  /* fallback for old browsers */
  // background-color: transparent !important;
}

/* React tree library class overrides */
.rst__tree .treesEntriesContainer {
}

.rst__rowContentsDragDisabled {
  // box-shadow: 2px 3px white, -2px -3px white !important;
}

.rst__rowLabel {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.rst__Toolbar {
  background-color: transparent !important;
  display:  none !important;
}

.rst__toolbarButton {
  background-color: transparent !important;
  display:  none !important;
}

.rst__collapseButton {
  background-color: transparent !important;
}

.rst__expandButton {
  background-color: transparent !important;
}

.rst__rowTitle {
  font-weight: normal !important;
  min-width: 240px;
}

.rst__rowTitleWithSubtitle {

  height: 10px !important;
}

.rst__rowTitleWithSubtitle {

}


.rst__moveHandle {
  margin-top: -2px;
  height: 15px !important;
  background-color: transparent !important;
}

.rst__rowContents {
  // box-shadow: 1px 2px white, -1px -2px white !important;
  // border: none;
  box-shadow: none !important;
  min-width: 240px !important;
  height: 35px !important;
  letter-spacing: 0px;
  font-size: .85vmax !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  color: rgb(17, 17, 17) !important;
}

.rst__rowSubtitle {
  font-size: .75vmax !important;
}

.rst__rowContents:hover {
  cursor: pointer;
  color: rgba(79, 176, 255, .95) !important;
  // background: #36D1DC;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  

.ant-menu-item {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: transparent !important;
  color: rgb(255,223,0)  !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}

.ant-menu-item:hover {
  color: rgb(255,223,0)  !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}

.ant-menu-submenu-title:hover {
  color: rgb(255,223,0) !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}


.ant-menu-submenu {
  overflow: hidden !important;
}

.ant-btn-primary {
  background: #36D1DC !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10) !important;
}


.ant-btn {
  color: rgba(79, 176, 255, .55); 
  border-color: rgba(79, 176, 255, .55); 
}


.ant-btn:hover {
  cursor: pointer !important;
  color: rgb(255,223,0) !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;

}

.ant-btn-circle {
  margin: 2px !important;
  height: 20px !important;
  width: 20px !important;
  font-size: .8em !important;
}

.ant-btn-circle:hover {
  cursor: pointer !important;
  border-color: rgba(255, 223, 0, .8) !important;
  color: rgb(255,223,0) !important;
  text-shadow: 1px 1px 1px rgb(84, 97, 91) !important;
}

.primaryGhostButton:hover {
  cursor: pointer !important;
}
