.analysisContainer {
}

.ant-drawer-content-wrapper {
    min-height: 200px !important;
    margin: 20px !important;
    margin-bottom: 0px !important;
    margin-left: 150px !important;
    width: calc(80% - 50px) !important;
    height: calc(65% - 20px) !important;
}

.FancyTabs-tabInner.is-active {
    background-color: rgba(6, 197, 255, 0.856) !important;
}

.FancyTabs-panel {
    border-top: 5px solid  rgba(6, 197, 255, 0.856) !important;
}

.ant-drawer-title {
    margin: 5px !important;
    font-size: 1.3em !important;
    letter-spacing: 1px !important;
    color: rgba(51, 51, 51, 0.856) !important;
}

.ant-drawer-body {
    margin: 20px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.tabInnerLabel {
    font-weight: normal !important;
    min-width: 100px !important;
    font-size: .95em !important;
    letter-spacing: 1px !important;
    display: inline !important;
    margin-right: 20px !important;
}

.tabInnerContent {
    display: inline !important;
    min-width: 100px !important;
    font-size: .95em !important;
    letter-spacing: 1px !important;
    display: inline !important;
    margin-left: 30px !important;
    margin-right: 10px !important;
}

.tabInnerSection {
    margin: 10px !important;
    padding: 0px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.FancyTabs-tabText {
    letter-spacing: 1px !important;
    font-size: 1.1em !important;
}