.analysisContainer {
}

.ant-drawer-content-wrapper {
    min-height: 200px !important;
    margin: 20px !important;
    margin-bottom: 0px !important;
    margin-left: 150px !important;
    width: calc(80% - 50px) !important;
    overflow-x: hidden !important;
    height: calc(55% - 20px) !important;
    // background: none !important;
    background-color: rgba(247, 247, 247, 0.767) !important;
}

.ant-drawer-content {
    height: 100% !important;
    background-color: rgba(247, 247, 247, 0.767) !important;

    overflow-x: hidden !important;
    overflow-y: auto !important;

}

.ant-drawer-body {
    background-color: rgba(247, 247, 247, 0.767) !important;

    overflow-x: hidden !important;
    overflow-y: auto !important;

}

.ant-drawer-wrapper-body {
    background-color: rgba(247, 247, 247, 0.767) !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.ant-drawer-wrapper {
    background-color: rgba(247, 247, 247, 0.767) !important;
}

.ant-drawer-header {
    margin: 0 !important;
    padding: 0 !important;
    display: none !important;
    background: none !important;
}

.FancyTabs-tabInner {
    background-color: rgba(135, 211, 235, 0);
    font-size: .9em !important;
    letter-spacing: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    padding: 15px !important;
    margin: 15px !important;
    height: 40px !important;
}

.FancyTabs-tabText {
    padding-bottom: 15px !important;
}

.FancyTabs-tab {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: -15px !important;
}

.FancyTabs-tablistItem {
    height: 25px !important;
}

.FancyTabs-tablist {
    margin-top: -10px !important;
}

.FancyTabs-tabInner.is-active {
    border: none !important;
    border-color: rgba(33, 198, 248, 0.8)  !important;
    color: rgba(33, 198, 248, 0.8);
    outline-color: rgba(33, 198, 248, 0.8)  !important;
    text-decoration-color: rgba(33, 198, 248, 0.8) !important;
    background-color: rgba(6, 197, 255, 0.0056) !important;
    text-decoration: underline !important;
}

.FancyTabs-panel {
    margin-top: 10px !important;
    border: none !important;
    background: none !important;
    margin-left: 20px !important;
}

span.ant-radio + * {
    font-size: .91em !important;
}

.ant-drawer-title {
    z-index: 100 !important;
    // margin: 5px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 0px !important;
    height: 15px !important;
    font-size: 1.3em !important;
    letter-spacing: 1px !important;
    color: rgba(51, 51, 51, 0.856) !important;
}

.ant-drawer.ant-drawer-bottom ant-drawer-open.no-mask {
    background-color: rgba(247, 247, 247, 0.767) !important;
}

.ant-drawer-body {
    background: none !important;
    width: 100% !important;
    height: 100% !important;
    // margin: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.tabInnerLabel {
    font-weight: normal !important;
    min-width: 100px !important;
    font-size: .95em !important;
    letter-spacing: 1px !important;
    display: inline !important;
    margin-right: 20px !important;
}

.tabInnerContent {
    display: inline !important;
    min-width: 100px !important;
    font-size: .95em !important;
    letter-spacing: 1px !important;
    display: inline !important;
    margin-left: 30px !important;
    margin-right: 10px !important;
}

.tabInnerSection {
    margin: 10px !important;
    padding: 0px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.FancyTabs-tabText {
    margin: 0 !important;
    padding: 0 !important;
    letter-spacing: 1px !important;
    font-size: 1.35em !important;
}