.analysisContainer {
}

.ant-drawer-content-wrapper {
    min-height: 200px !important;
    margin: 20px !important;
    margin-bottom: 0px !important;
    margin-left: 50px !important;
    width: calc(100% - 100px) !important;
    // overflow-x: hidden !important;
    height: calc(55% - 20px) !important;
    // background: none !important;
    background-color: rgba(239, 244, 248, 1.0) !important;
}

.ant-drawer-content {
    // padding-left: 120px !important;
    height: 100% !important;
    background-color: rgba(239, 244, 248, 1.0) !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}

.ant-drawer-body {
    background-color: rgba(239, 244, 248, 1.0) !important;
    overflow-x: auto !important;
    overflow-y: auto !important;

}

.ant-drawer-wrapper-body {
    background-color: rgba(239, 244, 248, 1.0) !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}

.ant-drawer-wrapper {
    background-color: rgba(239, 244, 248, 1.0) !important;
}

.ant-drawer-header {
    margin: 0 !important;
    padding: 0 !important;
    display: none !important;
    background: none !important;
}

.FancyTabs-tabInner {
    z-index: 500 !important;
    background-color: rgba(135, 211, 235, 0);
    font-size: 1.0em !important;
    letter-spacing: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    padding: 15px !important;
    margin: 15px !important;
}

.FancyTabs-tabText {
    padding-bottom: 15px !important;
}

.FancyTabs-tab {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: -15px !important;
}

.FancyTabs-tablistItem {
}

.FancyTabs-tablist {
    height: 62px !important;
    box-shadow: 0 1px 1px 0 rgba(53, 53, 53, 0.1) !important;
    margin-top: -8px !important;
    background-color: rgba(239, 244, 248, 0.923) !important;
    text-align: center !important;
}

.FancyTabs-tabInner.is-active {
    border: none !important;
    border-color: rgba(33, 198, 248, 0.8)  !important;
    color: rgba(33, 198, 248, 1.0);
    outline-color: rgba(33, 198, 248, 0.8)  !important;
    text-decoration-color: rgba(33, 198, 248, 0.8) !important;
    background-color: rgba(6, 197, 255, 0.0056) !important;
    text-decoration: underline !important;
}

.FancyTabs-panel {
    border: none !important;
    background: none !important;
    margin: 20px !important;
    margin-top: 0px !important;
    // margin-left: 40px !important;
    // margin-right: 140px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.FancyTabs-panelInnerCenter {
    border: none !important;
    background: none !important;
    margin: 20px !important;
    margin-top: 8px !important;
    margin-left: 80px !important;
}


.FancyTabs-panelInner {
    margin-top: 0px !important;
}

.FancyTabs-panelInnerCenter {
    transition: transform 0.3s ease;
}
  
.FancyTabs-panelInner.is-enterCenter {
    transform: translateY(-120%);
}

.FancyTabs-panelInnerC.FancyTabs-panelInnerC.is-enter-active,
.FancyTabs-panelInnerCenter.is-leave {
    transform: translateY(0);
}

.FancyTabs-panelInnerCenter.is-leave-active {
    transform: translateY(120%);
}

span.ant-radio + * {
    font-size: .81em !important;
}

.ant-drawer-title {
    z-index: 100 !important;
    // margin: 5px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 0px !important;
    font-size: 1.3em !important;
    letter-spacing: 1px !important;
    color: rgb(31, 25, 25) !important;
    background-color: rgba(239, 244, 248, 1.0) !important;
}

.ant-drawer.ant-drawer-bottom ant-drawer-open.no-mask {
    background-color: rgba(239, 244, 248, 1.0) !important;
}

.ant-drawer-body {
    background: none !important;
    width: 100% !important;
    height: 100% !important;
    // margin: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.tabInnerLabel {
    font-weight: normal !important;
    min-width: 100px !important;
    font-size: 1.0em !important;
    letter-spacing: 1px !important;
    display: inline !important;
    margin-right: 20px !important;
}

.tabInnerContent {
    display: inline !important;
    min-width: 100px !important;
    font-size: .95em !important;
    letter-spacing: 1px !important;
    display: inline !important;
    margin-left: 35px !important;
    margin-right: 10px !important;
    color: rgb(36, 36, 36);
}

.tabInnerSection {
    margin: 10px !important;
    padding: 0px !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.FancyTabs-tabText {
    margin: 0 !important;
    padding: 0 !important;
    letter-spacing: 1px !important;
    font-size: 1.25em !important;
}

.entitiesCollapseLeft {
    margin: 0 !important;
    padding: 0 !important;
    left: 0 !important;
    width: calc(50% - 50px) !important;
    float: left !important;
}

.entitiesCollapseRight {
    margin: 0 !important;
    padding: 0 !important;
    right: 0 !important;
    margin-right: 50px !important;
    width: calc(50% - 50px) !important;
    float: right !important;
}

/* Ant Design Collapse */
.ant-collapse-header {
    height: 33px !important;
    padding-top: 5px !important;
    font-size: 1.05em !important;
    letter-spacing: 1px !important;
    background-color: rgba(239, 244, 248, 1.0) !important;
} 

.ant-collapse {
    background-color: rgba(239, 244, 248, 1.0) !important;
}

.ant-collapse-content-box {
    background-color: rgba(239, 244, 248, 1.0) !important;
}

.sectionHeadlineText {
    text-align: center !important;
    margin: auto !important;
    margin-top: 5px !important;
    letter-spacing: 1px !important;
    font-size: 1.1em !important;
}

.summaryContent {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-left: 60px !important;
    letter-spacing: 1px !important;
    font-size: 1.0em !important;
    max-width: calc(90% - 20px) !important;
}

.summaryContent p {
    color: rgb(36, 36, 36) !important;
}

.ant-collapse p { 
    color: rgb(36, 36, 36) !important;
}

.ant-collapse > .ant-collapse-item {
    margin-bottom: 5px !important;
}

.analysisStatsContainer {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ant-collapse-header {
    text-align: center !important;
    margin: 5px !important;
}

.runButton {
    z-index: 100000;
    font-size: .8em;
    border: none !important;
    color: white !important;
    width: 85px !important;
    padding-bottom: 0px !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
    margin-left: 15px !important;
    margin-top: 15px !important;
    height: 27px !important;
    position: absolute !important;
    display: inline !important;
}