.FancyTabs-tabTextSmall {
  margin: 0 !important;
  padding: 0 !important;
  letter-spacing: 1px !important;
  font-size: 1.05em !important;
  margin-top: -10px !important;
}

.FancyTabs-tablistItemSmall {
    height: 32px !important;
    box-shadow: 0 1px 1px 0 rgba(53, 53, 53, 0.1) !important;
    margin-top: -18px !important;
    background-color: rgba(239, 244, 248, 0.923) !important;
}

.leftViz {
  top: 0 !important;
  left: 0 !important;
  float: left !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 50px !important;
  margin-right: 50px !important;
  padding: 0 !important;
  max-width: calc(55% - 20px) !important;
  max-height: calc(75% - 20px) !important;
  text-align: center !important;
}

.rightViz {
  top: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  float: right !important;
  margin-right: 70px !important;
  padding: 0 !important;
  max-width: calc(55% - 20px) !important;
  max-height: calc(75% - 20px) !important;
  text-align: center !important;
}

.centerViz {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: calc(75% - 20px) !important;
  max-height: calc(80% - 20px) !important;
}

.leftViz tspan {
  font-size: .9em !important;
}

.rightViz tspan {
  font-size: .9em !important;
}

.centerViz tspan {
  font-size: .9em !important;
}

.innerContentTextCenter {
  text-align: center !important;
  letter-spacing: 1px !important;
  font-size: 1.0em !important;
}



.FancyTabs-tablistHigher { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: -20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  width: 100% !important;
}