

.entriesSubMenuContainer {
  height: 50px;
}


.ant-menu-submenu-popup {
  width: 200px !important;
}


.treeEntriesContainer {
  height: 100%;
  width: 100%;
  background-color: transparent !important;
  color: black !important;
}

/* React tree library class overrides */
.rst__tree .treesEntriesContainer {
}

.rst__rowContentsDragDisabled {
  box-shadow: 2px 3px grey, -2px -3px grey !important;
}


.rst__rowLabel {
  padding-left: none !important;
  padding-right: none !important;
}
.rst__Toolbar {
  background-color: transparent !important;
  display:  none !important;
}

.rst__toolbarButton {
  background-color: transparent !important;
  display:  none !important;
}

.rst__collapseButton {
  background-color: transparent !important;
}

.rst__expandButton {
  background-color: transparent !important;
}

.menu-wide {
  min-width: 180px;
  height: 800px;
  background-color: transparent;
  background: transparent;
  color: grey;
  font: 2vw !important;
}


.rst__rowTitle {
  font-weight: normal !important;
  min-width: 100px !important;
}

.rst__moveHandle {
  margin-top: -2px;
  height: 15px !important;
  background-color: transparent !important;
}

.rst__rowContents {
  box-shadow: 1px 2px grey, -1px -2px grey !important;
  border: none;
  min-width: 100px !important;
  height: 35px !important;
  font-size: 1.05vmax !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  color: white;
}

#find-box {
  color: grey;
}

/* Stuff in old sortable-tree lib styles */


.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.SplitPane.vertical {
  height: calc(100% - 80px) !important;
}
