.editor {
    height: 100%;
    width: 100%;
  }
  
.jsoneditor {
  border-radius: 3px;
  margin-top: 8px;
  font-size: .75em !important;
  border: none !important;
}

#jsonEditor {
  border: none !important;
  box-shadow: none !important;
  border-radius: 3px !important;
  box-shadow: 1px 2px 2px 1px rgba(39, 39, 39, 0.85) !important;
  background: rgb(238, 238, 238) !important;  /* fallback for old browsers */
  min-height: 250px;
  max-height: 450px;
}

.jsoneditor-menu {
  border-radius: 3px;
  border-color: rgba(79, 176, 255, .85) !important;
  background-color: rgba(79, 176, 255, .85) !important;
}

.nav-bar-empty {
  display: none !important;
}