.editor {
    height: 100%;
    width: 100%;
  }
  
  .jsoneditor {
    border: none !important;
  }

  #jsonEditor {
    border: none !important;
    box-shadow: none !important;
    border-radius: 5px !important;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 1px 2px 2px 1px rgba(39, 39, 39, 0.85) !important;
    background: rgb(238, 238, 238) !important;  /* fallback for old browsers */
    height: 250px;
  }

