html, body {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden !important;
  }
  
  .app {
    min-height: 100vh !important;
  }
  
  .left {
    margin: 0 !important;
    padding: 0 !important;
    float: left !important;
    width: 50% !important;
  }
  
  .right {
    margin: 0 !important;
    padding: 0 !important;
    float: left !important;
    width: 50% !important;
  }
  
  .center {
    margin: 0 !important;
    padding: 0 !important;
    margin: auto !important;
  }

  .titleWrapper {
    margin-top: -20px;
    padding: 7px;
    width: 100%;
    -moz-box-shadow: 0px 0px 1px rgba(45, 45, 45, .75);
    -webkit-box-shadow: 0px 0px 1px rgba(45, 45, 45, .75);
    box-shadow: 0px 0px 1px rgba(45, 45, 45, .75);
  }

  .brandWrapper {
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 1px;
    -moz-box-shadow: 0 0 3px #fff;
    -webkit-box-shadow: 0 3 3px #fff;
    box-shadow: 0px 0px 3px #fff;
  }

  .brandWrapper:hover {
    -moz-box-shadow: 0 0 4px rgb(208, 255, 0);
    -webkit-box-shadow: 0 4 6px rgb(208, 255, 0);
    box-shadow: 0px 0px 4px rgb(208, 255, 0);
    cursor: pointer;
  }
  
  .mainMenuContainer {
    display: block !important;
    clear: right !important; 
    height: 100%;
    width: 100%;
    color: white;
    background: rgba(79, 171, 224, 0.73) !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: none !important; 
  }

  .mainMenuContainer span {
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1.15em;
  }

  .ant-menu-submenu-title span {
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1.05em;
  }

  .ant-menu-item {
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 1.05em;
  }
  
  .notepadContainer {
    display: block;
    width: 100%;
    min-height: 100vh !important;
    height: 100% !important;
    border-radius: 2px !important;
    box-shadow:  0 5px 15px 0 rgba(0,0,0,0.2) !important;
    background-color: rgba(250, 250, 250, 1.0);
    // background: rgba(79, 171, 224, 0.73) !important;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important;  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom,  rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: none !important; 
  }

  .htmlEditorWrapper {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .sectionTitleText {
    padding-top: 5px;
    color: rgb(46, 46, 46);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 1.45em;
    text-shadow: 1px 1px 1px rgba(50,50,50,0.05);
    /* font-size: 1.4vmax; */
    text-align: center;
  }

.notebookSwitch {
  float: right;
  margin-top: -20px;
}
  

// Custom scrollbar styles
body{
  scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: #C0C0C0;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
}

/*mozilla scrolbalken*/
@-moz-document url-prefix(http://),url-prefix(https://) {
    scrollbar {
    -moz-appearance: none !important;
    background: rgb(0,255,0) !important;
    }
    thumb,scrollbarbutton {
    -moz-appearance: none !important;
    background-color: rgb(0,0,255) !important;
    }

    thumb:hover,scrollbarbutton:hover {
    -moz-appearance: none !important;
    background-color: rgb(255,0,0) !important;
    }

    scrollbarbutton {
    display: none !important;
    }

    scrollbar[orient="vertical"] {
    min-width: 15px !important;
  }
}

::-webkit-scrollbar {
    border-radius: 15px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

  /* Antd overrides */
  
  .ant-layout-sider {
    background-color: transparent !important;
  }
  
  .ant-layout {
    background-color: transparent !important;
  }
  
  .ant-divider-horizontal {
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgba(239, 239, 239, .8) !important;
    color: rgba(239, 239, 239, .8) !important;
  }