html, body {
    height: 100% !important;
    width: 100% !important;
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden !important;
}
  
.app {
  min-height: 100vh !important;
}


.footerNoteText {
  text-shadow: none;
  letter-spacing: 0px;
  display: inline;
  color: rgba(255, 255, 255, .9);
  font-size: .75em;
  font-weight: lighter;
}

.titleWrapper {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  height: 60px !important;
  border: none !important;
  background-color: white !important;
  background-color: rgb(248, 248, 248) !important;
  box-shadow: none !important;
  -webkit-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  -moz-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
}

.brandWrapper {
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 4px;
  padding-left: 5px;
  padding-top: 2px !important;
  margin-left: 1px;
  -webkit-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  -moz-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
}

.mainMenuContainer {
  display: block !important;
  clear: right !important; 
  height: 100%;
  width: 100%;
  color: white;
  background: rgba(79, 171, 224, 0.73) !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom,  rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: none !important; 
  box-shadow: none !important;
  -webkit-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  -moz-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
}

.mainMenuContainer span {
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.15em;
}

.ant-menu-submenu-title span {
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.05em;
}

.ant-menu-item {
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.05em;
}

.mainPageContainer {
  display: block;
  width: 100%;
  min-height: 100vh !important;
  height: 100% !important;
  background-color: rgba(250, 250, 250, 1.0);
  box-shadow: none !important;
  -webkit-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  -moz-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  overflow-x: none !important; 
}

.notepadContainer {
  width: 100% !important;
  height: 100% !important;
  // box-shadow: 0 0 1px rgba(239, 239, 239, .3) !important;
  -webkit-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  -moz-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
}

.editorWrapper {
  margin-top: 70px !important;
  margin-left: 15px;
  padding-left: 5px;
  min-height: 500px !important;
  max-height: 800px !important;
}

.analyzerWrapper {
  max-height: 400px !important;
  min-height: 300px !important;
}

.sectionTitleText  {
  padding-top: 10px;
  color: rgba(56, 56, 56, 0.88) !important;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 1.58em;
  text-shadow: 1px 1px 1px rgba(50,50,50,0.08);
  margin-left: 5px;
  margin-bottom: 6px;
  padding-left: 5px;
  
}

.innerButtonLabel { 
  width: 60px !important;
}

.innerButtonLabel p {
  padding: 5px;
  color: rgba(56, 56, 56, 0.9) !important;
  font-weight: normal;
  font-size: .95em;
  text-shadow: 1px 1px 1px rgba(50,50,50,0.05);
}

.notebookSwitch {
  position: absolute !important;
  right: 0px !important;
  top: -8px !important;
  bottom: 20px !important;
  margin: 20px !important;
  font-size: .9em !important;
  margin-right: 55px !important;
  display: inline !important;
  border-radius: 10px !important;
}

#editor {
  -webkit-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  -moz-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
}

.saveButtonNotebook {
  margin: 5px !important;
  margin-top: 2px !important;
  padding: 0 !important;
  border: none !important;
  position: absolute !important;
  font-size: 1.5em !important;
  margin-left: 15px !important;
  right: 0px !important;
  top: 0px !important;
  margin-right: 15px !important;
  display: inline !important;
}

.ant-btn-default {
  border-radius: 5px;
}

.ant-btn-primary {
  color: rgba(238, 238, 238, 0.9);
  text-shadow: none !important;
}

.ant-btn-group .ant-dropdown-button .dropdownCustom {
  margin-top: -5px !important;
}

.ant-dropdown-trigger {
  height: 32px;
  padding-right: 2px;
  padding-left: 5px;
  margin-top: -1px;
  border-radius: 5px;
}
  
.ant-dropdown-button {
  background-color: transparent;
}

// Custom scrollbar styles


/* Antd overrides */

.ant-layout-sider {
  background-color: transparent !important;
}

.ant-layout {
  background-color: transparent !important;
}

.ant-divider {
  margin-top: 0;
  margin-bottom: 0;
  border-color: rgba(239, 239, 239, .1) !important;
  color: rgba(239, 239, 239, .1) !important;
  background-color: rgba(239, 239, 239, .3) !important;
}

.ant-select-dropdown-menu-item {
  font-size: .8em;   
}

.ant-menu {
  box-shadow: none !important;
}

.ant-menu-sub {
  box-shadow: none !important;
} 

.ant-menu-inline {
  box-shadow: none !important;
}

