html, body {
    height: 100vh !important;
    width: 100vw !important;
}


body {
  // background: #2980b9;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden !important;
}
  
.app {
  height: 100vh !important;
  width: 100vw !important;
}

.ant-layout {
  height: 100vh !important;
  min-height: 100vh !important;
  // overflow: hidden !important;
}

.ant-layout-content {
  height: 100% !important;
}

.footerNoteText {
  text-shadow: none;
  letter-spacing: 0px;
  display: inline;
  color: rgba(205, 205, 205, .8);
  font-size: .75em;
  font-weight: lighter;
}

.titleWrapper {
  position: fixed !important;
  top: 0 !important;
  z-index: 100 !important;
  width: 100%;
  height: 60px !important;
  border: none !important;
  background-color: rgb(248, 248, 248) !important;
  box-shadow: none !important;
  // -webkit-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  // -moz-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  // box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  padding-left: 80px !important;
  padding-top: 2px !important;
  // text-align: center !important;
  padding-right: 450px !important;
  letter-spacing: 2px !important;
  overflow: hidden !important;

}

.brandWrapper {
  width: calc(100% -2px) !important;
  // background: #2980b9;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 4px;
  padding-left: 5px;
  padding-top: 2px !important;
  margin-left: 1px;
  position: sticky !important;
  z-index: 500 !important;
  
}

.mainMenuContainer {
  display: block !important;
  clear: right !important; 
  height: 100%;
  width: 100%;
  max-width: 350px !important;
  color: rgba(250, 248, 250, 1.0);
  overflow-x: none !important; 
  position: sticky !important;
  z-index: 450 !important;
}

.mainMenuContainer span {
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.15em;
}

.ant-menu-submenu-title span {
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.05em;
}

.ant-menu-item {
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.05em;
}

.ant-menu-vertical {
  background: none !important;
}

.mainPageContainer {
  width: 100%;
  height: 100% !important;
  background-color: rgba(250, 250, 250, 1.0);
  box-shadow: none !important;
}

.analyzerWrapper {
  width: 100% !important;
  height: 100% !important;
  display: inline !important;
  position: sticky !important;
  margin-top: -250px !important;
  z-index: 100 !important;
  margin-left: 150px !important;
  left: 0 !important;
}

.notepadContainer {
  width: 100%;
  height: 100% !important;
  min-height: 100% !important;
  margin-top: -10px !important;
  margin-left: 0px !important;
  overflow: hidden !important;
  // box-shadow: 0 0 1px rgba(239, 239, 239, .3) !important;
}

.editorWrapper {
  margin-top: 70px !important;
  margin-left: 15px;
  padding-left: 5px;
  height: 100% !important;
  // max-height: 800px !important;
}

.analyzerWrapper {
  max-height: 500px !important;
  min-height: 300px !important;
}

.sectionTitleText  {
  padding-top: 12px;
  color: rgba(56, 56, 56, 1.0) !important;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 1.58em;
  text-shadow: 1px 1px 1px rgba(50,50,50,0.08);
  margin-left: 10px !important;
  margin-bottom: 6px;
  padding-left: 10px;
}

.innerButtonLabel { 
  width: 60px !important;
}

.innerButtonLabel p {
  padding: 5px;
  color: rgba(56, 56, 56, 0.95) !important;
  font-weight: normal;
  font-size: .95em;
  text-shadow: 1px 1px 1px rgba(50,50,50,0.05);
}

.notebookSwitch {
  z-index: 1000 !important;
  top: 0px !important;
  right: 0px !important;
  position: fixed !important;
  margin-top: 13px !important;
  margin-right: 115px !important;
  display: inline !important;
  border-radius: 10px !important;
}

#editor {
  height: 100% !important;
  // -webkit-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  // -moz-box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
  // box-shadow: -1px 0px 2px 1px rgba(40,24,13,0.2) !important;
}

.saveButtonNotebook {
  border: none !important;
  z-index: 1000 !important;
  font-size: 1.45em !important;
  top: 0px !important;
  right: 0px !important;
  margin-right: 20px !important;
  margin-top: 5px !important;
  display: inline !important;
  position: fixed !important;
}

.ant-btn-default {
  border-radius: 5px;
}

.ant-btn-primary {
  color: rgba(238, 238, 238, 1.0);
  text-shadow: none !important;
}

.ant-btn-group .ant-dropdown-button .dropdownCustom {
  margin-top: -5px !important;

}

.ant-dropdown-trigger {
  height: 32px;
  padding-right: 2px;
  padding-left: 5px;
  margin-top: -1px;
  border-radius: 5px;
}
  
.ant-dropdown-button {
  font-size: .5em !important;
  width: 50px !important;
  background-color: transparent;
}

// Custom scrollbar styles


/* Antd overrides */

.ant-layout-sider {
  // background-color: transparent !important;
  background: #2193b0 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ant-layout-sider-dark {
  background: #2193b0 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ant-layout {
  background-color: transparent !important;
}

.ant-divider {
  margin-top: 0;
  margin-bottom: 0;
  border-color: rgba(239, 239, 239, .1) !important;
  color: rgba(239, 239, 239, .1) !important;
  background-color: rgba(239, 239, 239, .3) !important;
}

.ant-select-dropdown-menu-item {
  font-size: .8em;   
}

.ant-menu {
  box-shadow: none !important;
}

.ant-menu-sub {
  box-shadow: none !important;
} 

.ant-menu-inline {
  box-shadow: none !important;
}


/* Custom scrollbar */


::-webkit-scrollbar {
  width: 11px !important;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 56, 94, 0.486);
  border-radius: 5px !important;
}

::-webkit-scrollbar-track {
  background: #ddd !important;
  border-radius: 5px !important;
}
