html, body {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden !important;
  }
  
  .app {
    min-height: 100vh !important;
  }
  
  .left {
    margin: 0 !important;
    padding: 0 !important;
    float: left !important;
    width: 50% !important;
  }
  
  .right {
    margin: 0 !important;
    padding: 0 !important;
    float: left !important;
    width: 50% !important;
  }
  
  .center {
    margin: 0 !important;
    padding: 0 !important;
    margin: auto !important;
  }
  
  .mainMenuContainer {
    display: block !important;
    clear: right !important; 
    height: 100%;
    width: 100%;
    padding-top: 25px;
    color: white;
    background: rgba(79, 171, 224, 0.73) !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: none !important; 
  }
  
  .notepadContainer {
    display: block;
    width: 100%;
    min-height: 100vh !important;
    height: 100% !important;
    border-radius: 2px !important;
    box-shadow:  0 5px 15px 0 rgba(0,0,0,0.2) !important;
    background: rgba(79, 171, 224, 0.73) !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,  rgba(79, 171, 224, 0.53) , rgba(54, 91, 112, 0.53) ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: none !important; 
  }
  
  .editorContainer {
    padding-top: 10px !important;
    padding: 20px;
    display: block;
  }
  
  .previewContainer {
    margin: 10px !important;
    display: block;
    height: 282px;
    /* padding-bottom: 150px; */
  }
  
  .sectionTitleText {
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 1.4em;
    /* font-size: 1.4vmax; */
    text-align: center;
  }
  
  /* Antd overrides */
  
  .ant-layout-sider {
    background-color: transparent !important;
  }
  
  .ant-layout {
    background-color: transparent !important;
  }
  
  .ant-divider-horizontal {
    margin-top: 0;
    margin-bottom: 0;
    border-color: rgba(239, 239, 239, .8) !important;
    color: rgba(239, 239, 239, .8) !important;
  }