.datetime {
    top: 0 !important; 
    right: 0 !important;
    margin: 25px !important;
    margin-right: 45px !important;
    margin-top: 10px !important;
    position: absolute !important;
    z-index: 100 !important;
    letter-spacing: 1px !important;
}