.homeWrapper {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(250, 250, 250, 1.0) !important;
    overflow: auto !important;
}

.ant-collapse-item, .ant-collapse-item-active {
    background-color: transparent !important;
}

.datetime {
    top: 0 !important; 
    right: 0 !important;
    margin: 25px !important;
    margin-right: 45px !important;
    margin-top: 10px !important;
    position: absolute !important;
    z-index: 100 !important;
    letter-spacing: 1px !important;
}


.libraryOverview {
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    margin: 20px !important;
    // margin: 40px !important;
}

.libraryOverviewText {
    letter-spacing: 1px !important;
    font-weight: lighter !important;
    font-size: 1.5em !important;
    color: rgba(66, 66, 66, 0.9);
    text-align: center !important;
}

.askInput {
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    margin: 20px !important;
    // margin: 40px !important;
}

.collapseTransparent {
    background-color: transparent !important;
}

.entriesChart {
    background-color: transparent !important;
    margin: 20px !important;
    // margin-right: -150px !important;
}

.tagsText {
    display: inline !important;
}

.titleText {
    display: inline !important;
}

.entriesVisualizedText {
    margin: 40px !important;
    font-weight: lighter !important;
    margin-right: 65px !important;
    font-size: 1.6em !important;
    letter-spacing: 1px !important;
    color: rgba(44, 44, 44, 0.9);
    text-align: center !important;
}